{% extends "./base.html" %}

{% block content %}
    <div class="card text-center">
  <h5 class="card-header">Open Leads <span style="float:right;"><a href="{% url 'leads:lead-create' %}" class="btn btn-outline-primary" role="button" aria-pressed="true" >Create a New Lead</a></span>

  <div class="card-body">
    
    <table class="table table-striped">
  <thead>
  
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Age</th>
      <th scope="col">Source</th>
      <th scope="col">Agent</th>
       {% comment %} <th scope="col">Date Created</th> {% endcomment %}
    </tr>
  
  </thead>
  <tbody>
  {% for lead in leads%}
  
    <tr>
  <th scope="row">{{lead.id}}</th>
    
      
      <td>{{lead.first_name}}</td>
      <td>{{lead.last_name}}</td>
      <td>{{lead.age}}</td>
      <td>{{lead.source}}</td>
      <td>{{lead.agent}}<span style="float:right;"><a href="{% url 'leads:lead-detail' lead.pk %}" class="btn btn-outline-info" role="button" aria-pressed="true" >View Lead</a></span></td>
      
    {% endfor %}
    </tr>
    
 
  </tbody>
</table>
 </div>
</div>



   {% endblock content %}